<div class="card card-sm">
    <div class="card-header d-flex justify-content-between h6">
        <p class="m-0">{{object.name}}</p>
    </div>
    <div class="card-header d-flex justify-content-between h6">
        <p class="m-0">{{object.period}}</p>
    </div>
    <div class="card-body d-flex justify-content-between">
        <p class=" m-0" style="word-wrap: anywhere">{{object.sends}}</p>
    </div>
    <div class="card-body d-flex justify-content-between">
        <p class=" m-0" style="word-wrap: anywhere">{{object.is_active}}</p>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <a class="p-2 btn btn-info" href="{% url 'mailing:mailing_update' object.pk %}">Изменить</a>
        <a class="p-2 btn btn-warning" href="{% url 'mailing:mailing_confirm_delete' object.pk %}">Удалить</a>
    </div>
</div>