
<!doctype html>
{% load static %}
<html lang="ru-ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'icons/site_icon.jpeg' %}" width="60px" height="60px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="{% url 'blog:blog' %}" class="nav-link px-2 text-white">Блог</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Рассылки</a></li>
            </ul>

            <div class="text-end">
                {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="btn btn-outline-light me-2">Профиль</a>
                <form class="d-inline" action="{% url 'users:logout' %}" id="logout-form" method="POST">
                    {% csrf_token %}
                    <button form="logout-form" type="submit" class="btn btn-outline-light me-2">Выход</button>
                </form>

                {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2">Вход</a>
                <a href="{% url 'users:register' %}" class="btn btn-warning">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<main>
{% block content %}

{% endblock %}

</main>
</body>
</html>